@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    <h2>Understanding the Concept of Controllers...</h2>
        <p>
            <label>Controller Name : <b>@ViewBag.ControllerName</b></label>
        </p>
        <p>
            <label>Action Name : <b>@ViewBag.ActionName</b></label>
        </p>
    </div>
</body>
</html>
